<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
	
     <div class="box"> this is a random box 1
        <div class="mybox"> just some content </div>
        <div class="box"> this is a random box 2
          <div class="mybox"> just some content </div>
          <div class="box"> this is a random box 3
            <div class="mybox"> just some content </div>
            <hr>
            <div class="box1"> this is a random box 1
              <div class="mybox"> just some content </div>
            </div>
            <div class="box1"> this is random box 2
              <div class="mybox"> just some content </div>
            </div>
            <div class="box1"> this is a random box 3
              <div class="mybox"> just some content </div>
            </div>
          </div>
		 </div></div>
</body>
</html>
