<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
	
      <div class="box"> this is a random box
        <div class="mybox"> just some content </div>
        <div class="mybox"> just some content </div>
        <div class="mybox"> just some content </div>
        <hr>
        <div class="mybox"> just some content </div>
      </div>
      <div class="box"> this is random box
        <div class="mybox"> just some content </div>
      </div>
      <div class="box1"> this is a random box
        <div class="mybox"> just some content </div>
      </div>
      <div class="box1"> this is a random box
        <div class="mybox"> just some content </div>
      </div>
      <div class="box1"> this is a random box
        <div class="mybox"> just some content </div>
      </div>

</body>
</html>
