@charset "utf-8";
/* CSS Document */
.btn {
  font: italic 20px lighter;
}
a[href*='google.com'] {
  background: blue;
  color: yellow;
}
.one {
  background: #10C92B;
  color: antiquewhite;
}
.two {
  background: #18CDD5;
  color: chocolate;
}
.three {
  background: #E5C90C;
  color: black;
}
nav ul {
	list-style-type: none;
	margin:  0;
	padding: 0;
	height: 50px;
	background-color:lightsalmon;
	text-align:center;
	
}
nav li {
  display: inline-block;
  font-size: 1.3em;
  line-height: 50px;
  height: 50px;
  width: 200px;
}
nav a {
  text-decoration: none;
  color:darkblue;
  display:block;
  padding: 0 5px;
}
nav a:hover {
  background-color: aquamarine;
  color: azure;
}
nav a:active {
  background-color: orange;
  color: black;
}

.yellow {
	background: yellow;
	color: dodgerblue;
	font-size: 20px;
}